@model Laboratoire_1.Models.Nouvelle

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Supprission de @Model.Titre</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer cette nouvelle ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="confirmDeleteModal" type="button" class="btn btn-primary">Confirmer</button>
                </div>
            </div>
        </div>
    </div>

    <h4>Nouvelle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAjout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAjout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
            <img src="@Model.ImageUrl" class="img-responsive" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |

    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#deleteModal">
        <span class="glyphicon glyphicon-erase" />
    </button>

    @using (Html.BeginForm("Delete", "Nouvelles", FormMethod.Post, new { id = "delForm" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(Model => Model.Id)
    }

    @Html.ActionLink("Retour à la liste", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/Scripts/DeleteUtilities.js")
}