@model IEnumerable<Laboratoire_1.Models.Nouvelle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAjout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string currentUrl = item.ImageUrl;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAjout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texte)
        </td>
        <td>
            <img src="@currentUrl" class="img-thumbnail"/>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Nouvelles")" class="glyphicon glyphicon-pencil"/>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
