@model IEnumerable<Laboratoire_1.Models.Nouvelle>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("Create", "Nouvelles")" class="glyphicon glyphicon-plus"></a>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAjout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Texte)
        </th>
        <th>
            Thumbnail de l'image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string currentUrl = item.ImageUrl;

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAjout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Texte)
        </td>
        <td>
            <img src="@currentUrl" class="img-thumbnail"/>
        </td>
        <td>
            <a href="@Url.Action("Edit", "Nouvelles", new { id=item.Id })" class="glyphicon glyphicon-pencil" />
            <a href="@Url.Action("Details", "Nouvelles", new { id=item.Id })" class="glyphicon glyphicon-new-window" />
            <a href="@Url.Action("Delete", "Nouvelles", new { id=item.Id })" class="glyphicon glyphicon-remove" />
        </td>
    </tr>
}

</table>
